! Terminal Name
st.termname: st-256color

! Shell
st.shell: /bin/zsh

! Font
!st.font: Mono:size=12
!st.font: DejaVuSansMono Nerd Font:size=12
st.font: Hack Nerd Font:size=12

! Coloring
st.background: black
st.foreground: white

! Transparency (0.0 - 1.0):
st.alpha: 0.60
